<!-- Login page -->
<head>
<link rel="stylesheet" type="text/css" href="/views/styles.css">
</head>

<!--  // this is going to link it to the styles.css page -->
<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/views/login.css">
<div class="modal show" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="loginModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
<!--           <button type="button" class="close" data-dismiss="modal" aria-label="Leave this page"><span aria-hidden="true">&times;</span></button> -->
          <h4 class="modal-title" id="myModalLabel">Get those gainz!</h4>
        </div>
        <form method="post" action="/login">
          <div class="modal-body">
            <div class="form-group">
              <input type="email" name="user[email]" class="form-control" placeholder="Email" required>
            </div>
            <div class="form-group">
              <input type="password" name="user[password]" class="form-control" placeholder="Password" required>
            </div>
          </div>
          <div class="modal-footer">
            <a href="/" class="btn btn-default" data-dismiss="modal">Leave this page</a>
            <input type="submit" value="Log In" class="btn btn-primary">
          </div>
        </form>
      </div>
    </div>
  </div>
