<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- custom styles -->
  <link type="text/css" rel="stylesheet" href="/views/styles.css">

  <title>Get SWOLE!</title>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Get SWOLE!</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right" id="nav-links">
          <!-- data from nav-template goes here -->
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <div class="well">
          <p>What are you taking?</p>
          <!-- form to create new workout log -->
          <form id="new-log">
            <div class="form-group">
              <select class="form-control" id="type">
                <option disabled selected>Goal</option>
                <option>Weightloss</option>
                <option>Muscle Gain</option>
                <option>Overall Health</option>
              </select>
            </div>
            
            <div class="form-group">

              <input type="text" class="form-control" placeholder="Supplement Name" id="title">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Supplement Dosage" id="dosage">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Supplement Reason" id="reason">
            </div>
            <div class="form-group">
              <input type="submit" value="Share!" id='submit' class="btn btn-primary btn-block">
            </div>
          
        </div>
      </div>
      <div>
        <ul id="allSupplements">
        </ul>
      </div>
           <!-- underscore template for user log -->
          <script type="text-template" id="supplements-template">
            <li class="list-group-item">
              <span class="label label-success"></span>
              &nbsp;
              <p><%= title %> Supplement Name</p>
              <p><%= dosage %> Supplement Dosage</p>
              <p><%= reason %> Supplement Reason </p>
              
            </li>
          </script>
      
    </div>
  </div>

  <!-- jquery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

  <!-- bootstrap js -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <!-- underscore -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

  <!-- custom scripts -->
  <script type="text/javascript" src="scripts/main.js"></script>
  <script type="text/javascript" src="scripts/logs.js"></script>

 <p>
        <a href="/logout" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </a>
      </p>

</body>
</html>
