head {
  font-family: 'Times';
  font-size: 17px;
}

body {
  font-family: 'Poiret One', cursive;
  font-size: 17px;
  background-color: #2F4F4F;
}

.modal {
  text-align: center;
}
@media screen and (min-device-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
