body {
  font-family: 'Poiret One', cursive;
  background-color: #2F4F4F;
}

.jumbotron {
  background-color: rgba(42, 30, 20, 0.4);;
  color: #F2F2F2;
  text-align: center;
  padding: 0.5em 0.6em;
}

.jumbotron p {
  font-size: 1em;
}

.modal {
  text-align: center;
  font-size: 30px;
}
@media screen and (min-device-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}


